<div id="<%= dom_id golf_course %>">
  <p>
    <strong>Name:</strong>
    <%= golf_course.name %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= golf_course.area %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= golf_course.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= golf_course.image_url %>
  </p>

  <p>
    <strong>Official url:</strong>
    <%= golf_course.official_url %>
  </p>

</div>
